@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root {
    --color1: #845EC2;
    --color2: #F3C5FF;
    --color3: #FEFEDF;
    --color4: #00C9A7;
}


body {
    background-color: var(--color1);
    text-align: center;
    color: var(--color2);
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 2px solid var(--color4);
}

h1 {
    margin: 2rem;
    font-size: 2.8rem;
}

main>div {
    font-size: 1.5rem;
}

label,
input {
    height: 2rem;
    margin: 0.8rem;
    font-weight: 600;
}

input {
    width: 300px;
}


#btn-check {
    width: 150px;
    padding: 12px;
    border: none;
    margin: 2rem auto;
    background-color: var(--color4);
    color: var(--color3);
    font-size: large;
    font-weight: 700;
}

p {
    max-width: 800px;
    color: var(--color2);
    height: 5vh;
    margin: 0 auto;
    padding: 1rem;
    font-size: 1.5rem;
}